---
layout: default
title: "Anjou Bitcoin"
description: "L'association des bitcoiners angevins"
image: "assets/images/logo.png"
---

<section class="intro full-width">
    <div class="wrapintro">
        <h1><img  style="width: 20%;" src="{{ site.baseurl }}/assets/images/logo-title.png" alt="{{ site.name }}"></h1>
    </div>
</section>

<!-- Section posts mis en avant -->
{% assign hasFeatured = false %}
{% for post in site.posts %}
    {% if post.featured == true %}
        {% assign hasFeatured = true %}
    {% endif %}
{% endfor %}

{% if hasFeatured %}
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Présentation</span></h2>
    </div>

    <b>Bitcoin</b> est une monnaie numérique permettant de faire des <b>paiements sans passer par une institution financière ou tout autre tiers de confiance</b>. 
    De par sa conception innovante, il <b>bouleverse petit à petit de nombreux domaines</b> (technologie, économie, finance, écologie, géopolitique, etc.).
</br></br>
    <b>ABC - Anjou Bitcoin</b> est la première association d'Angers et ses alentours dédiée à Bitcoin. Son but est de <b>favoriser l'éducation, le partage et l'adoption de Bitcoin</b> dans notre belle région angevine. 
    A travers des <b>évenements mensuels</b>, nous échangeons sur les différentes thématiques autour de Bitcoin dans un <b>esprit ouvert et convivial</b>. 
</br></br>
    Curieux, débutants ou expert, nous vous invitons à <b>venir nous rencontrer</b> lors d'un de nos prochains meetups, tous les <b>premiers mercredi du mois</b>.
    <div class="section-title">
        <h2><span>A la une</span></h2>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}
        {% if post.featured == true %}
            {% include featuredbox.html %}
        {% endif %}
    {% endfor %}
    </div>
</section>
{% endif %}


{% if paginator.previous_page %}
{% if paginator.previous_page > 0 %}
<div id="jumptopageof"></div>
{% endif %}
{% endif %}    

<!-- Section articles récents -->
<section class="recent-posts row">

    <div class="col-sm-4">
        {% include sidebar.html %}
    </div>

    <div class="col-sm-8">

        <div class="section-title">
            <h2 id="meetups"><span>Actualité</span></h2>    
        </div>

        <div class="masonrygrid row listrecent">
            {% for post in paginator.posts %}
            {% unless post.featured == true %}
                {% include postbox.html %}
            {% endunless %}
            {% endfor %}
        </div> 

        <div class="bottompagination">
            <span class="navigation" role="navigation">
                {% include pagination.html %}
            </span>
        </div>
    </div>
</section>